# BIQL Tutorial Guide

Welcome to the BIQL (BIDS Query Language) tutorial! This guide will walk you through
using BIQL to query BIDS neuroimaging datasets. We'll start with basic queries and
progressively explore more advanced features.

## What is BIQL?

BIQL is a SQL-like query language designed specifically for querying Brain Imaging 
Data Structure (BIDS) datasets. It allows you to:

- Search for specific files based on BIDS entities (subject, session, task, etc.)
- Filter data using metadata from JSON sidecars
- Access participant information from participants.tsv
- Perform aggregations and grouping operations
- Export results in various formats

## Prerequisites

First, let's set up our environment and get the example data:

In [1]:
import tempfile
from pathlib import Path
from biql import create_query_engine

# Set up paths - use a temporary directory that works in different environments  
bids_examples_dir = Path(tempfile.gettempdir()) / "bids-examples"

# Clone bids-examples if it doesn't exist
if not bids_examples_dir.exists():
    !git clone https://github.com/bids-standard/bids-examples.git {bids_examples_dir}
else:
    print(f"✅ bids-examples already exists at {bids_examples_dir}")

Cloning into '/tmp/bids-examples'...

remote: Enumerating objects: 30595, done.

remote: Counting objects: 100% (1900/1900), done.

remote: Compressing objects: 100% (441/441), done.

remote: Total 30595 (delta 1599), reused 1478 (delta 1455), pack-reused 28695 (from 2)
Receiving objects: 100% (30595/30595), 100.06 MiB | 47.84 MiB/s, done.

Resolving deltas: 100% (15576/15576), done.

## Part 1: Basic Queries

Let's start with the synthetic dataset from bids-examples. This is a simple dataset
that's perfect for learning BIQL basics.

In [2]:
dataset_path = bids_examples_dir / "synthetic"
q = create_query_engine(dataset_path)

q.dataset_stats()

{'total_files': 60,
 'total_subjects': 5,
 'files_by_datatype': {'anat': 10, 'func': 30, 'beh': 5},
 'subjects': ['01', '02', '03', '04', '05'],
 'datatypes': ['anat', 'beh', 'func']}

### Simple Entity Queries

The most basic BIQL queries filter files by BIDS entities. You can query by any
BIDS entity that appears in your filenames:

In [3]:
q.run_query("sub=01", format="dataframe").head(5)

,filepath,relative_path,filename,sub,ses,suffix,datatype,extension,metadata,participants,task,run
0,/tmp/bids-examples/synthetic/sub-01/ses-02/ana...,sub-01/ses-02/anat/sub-01_ses-02_T1w.nii,sub-01_ses-02_T1w.nii,01,02,T1w,anat,.nii,{},age=34; sex=F,NaN,NaN
1,/tmp/bids-examples/synthetic/sub-01/ses-02/fun...,sub-01/ses-02/func/sub-01_ses-02_task-nback_ru...,sub-01_ses-02_task-nback_run-02_bold.nii,01,02,bold,func,.nii,{},age=34; sex=F,nback,02
2,/tmp/bids-examples/synthetic/sub-01/ses-02/fun...,sub-01/ses-02/func/sub-01_ses-02_task-nback_ru...,sub-01_ses-02_task-nback_run-01_bold.nii,01,02,bold,func,.nii,{},age=34; sex=F,nback,01
3,/tmp/bids-examples/synthetic/sub-01/ses-02/fun...,sub-01/ses-02/func/sub-01_ses-02_task-rest_bol...,sub-01_ses-02_task-rest_bold.nii,01,02,bold,func,.nii,{},age=34; sex=F,rest,NaN
4,/tmp/bids-examples/synthetic/sub-01/ses-01/ana...,sub-01/ses-01/anat/sub-01_ses-01_T1w.nii,sub-01_ses-01_T1w.nii,01,01,T1w,anat,.nii,{},age=34; sex=F,NaN,NaN

In [4]:
results = q.run_query("datatype=func")
len(results)  # Number of functional files

30

In [5]:
q.run_query("SELECT DISTINCT task WHERE datatype=func", format="dataframe")

    task
0  nback
1   rest

### Combining Conditions

You can combine multiple conditions using AND, OR, and NOT operators:

In [6]:
q.run_query("datatype=anat AND suffix=T1w", format="dataframe").head(5)

,filepath,relative_path,filename,sub,ses,suffix,datatype,extension,metadata,participants
0,/tmp/bids-examples/synthetic/sub-01/ses-02/ana...,sub-01/ses-02/anat/sub-01_ses-02_T1w.nii,sub-01_ses-02_T1w.nii,01,02,T1w,anat,.nii,{},age=34; sex=F
1,/tmp/bids-examples/synthetic/sub-01/ses-01/ana...,sub-01/ses-01/anat/sub-01_ses-01_T1w.nii,sub-01_ses-01_T1w.nii,01,01,T1w,anat,.nii,{},age=34; sex=F
2,/tmp/bids-examples/synthetic/sub-04/ses-02/ana...,sub-04/ses-02/anat/sub-04_ses-02_T1w.nii,sub-04_ses-02_T1w.nii,04,02,T1w,anat,.nii,{},age=21; sex=F
3,/tmp/bids-examples/synthetic/sub-04/ses-01/ana...,sub-04/ses-01/anat/sub-04_ses-01_T1w.nii,sub-04_ses-01_T1w.nii,04,01,T1w,anat,.nii,{},age=21; sex=F
4,/tmp/bids-examples/synthetic/sub-05/ses-02/ana...,sub-05/ses-02/anat/sub-05_ses-02_T1w.nii,sub-05_ses-02_T1w.nii,05,02,T1w,anat,.nii,{},age=42; sex=M

In [7]:
q.run_query("task=nback OR task=rest", format="dataframe")

,filepath,relative_path,filename,sub,ses,task,run,suffix,datatype,extension,metadata,participants
0,/tmp/bids-examples/synthetic/sub-01/ses-02/fun...,sub-01/ses-02/func/sub-01_ses-02_task-nback_ru...,sub-01_ses-02_task-nback_run-02_bold.nii,01,02,nback,02,bold,func,.nii,{},age=34; sex=F
1,/tmp/bids-examples/synthetic/sub-01/ses-02/fun...,sub-01/ses-02/func/sub-01_ses-02_task-nback_ru...,sub-01_ses-02_task-nback_run-01_bold.nii,01,02,nback,01,bold,func,.nii,{},age=34; sex=F
2,/tmp/bids-examples/synthetic/sub-01/ses-02/fun...,sub-01/ses-02/func/sub-01_ses-02_task-rest_bol...,sub-01_ses-02_task-rest_bold.nii,01,02,rest,NaN,bold,func,.nii,{},age=34; sex=F
3,/tmp/bids-examples/synthetic/sub-01/ses-01/fun...,sub-01/ses-01/func/sub-01_ses-01_task-nback_ru...,sub-01_ses-01_task-nback_run-02_bold.nii,01,01,nback,02,bold,func,.nii,{},age=34; sex=F
4,/tmp/bids-examples/synthetic/sub-01/ses-01/fun...,sub-01/ses-01/func/sub-01_ses-01_task-rest_bol...,sub-01_ses-01_task-rest_bold.nii,01,01,rest,NaN,bold,func,.nii,{},age=34; sex=F
5,/tmp/bids-examples/synthetic/sub-01/ses-01/fun...,sub-01/ses-01/func/sub-01_ses-01_task-nback_ru...,sub-01_ses-01_task-nback_run-01_bold.nii,01,01,nback,01,bold,func,.nii,{},age=34; sex=F
6,/tmp/bids-examples/synthetic/sub-04/ses-02/fun...,sub-04/ses-02/func/sub-04_ses-02_task-nback_ru...,sub-04_ses-02_task-nback_run-02_bold.nii,04,02,nback,02,bold,func,.nii,{},age=21; sex=F
7,/tmp/bids-examples/synthetic/sub-04/ses-02/fun...,sub-04/ses-02/func/sub-04_ses-02_task-nback_ru...,sub-04_ses-02_task-nback_run-01_bold.nii,04,02,nback,01,bold,func,.nii,{},age=21; sex=F
8,/tmp/bids-examples/synthetic/sub-04/ses-02/fun...,sub-04/ses-02/func/sub-04_ses-02_task-rest_bol...,sub-04_ses-02_task-rest_bold.nii,04,02,rest,NaN,bold,func,.nii,{},age=21; sex=F
9,/tmp/bids-examples/synthetic/sub-04/ses-01/fun...,sub-04/ses-01/func/sub-04_ses-01_task-nback_ru...,sub-04_ses-01_task-nback_run-02_bold.nii,04,01,nback,02,bold,func,.nii,{},age=21; sex=F
10,/tmp/bids-examples/synthetic/sub-04/ses-01/fun...,sub-04/ses-01/func/sub-04_ses-01_task-rest_bol...,sub-04_ses-01_task-rest_bold.nii,04,01,rest,NaN,bold,func,.nii,{},age=21; sex=F
11,/tmp/bids-examples/synthetic/sub-04/ses-01/fun...,sub-04/ses-01/func/sub-04_ses-01_task-nback_ru...,sub-04_ses-01_task-nback_run-01_bold.nii,04,01,nback,01,bold,func,.nii,{},age=21; sex=F
12,/tmp/bids-examples/synthetic/sub-05/ses-02/fun...,sub-05/ses-02/func/sub-05_ses-02_task-rest_bol...,sub-05_ses-02_task-rest_bold.nii,05,02,rest,NaN,bold,func,.nii,{},age=42; sex=M
13,/tmp/bids-examples/synthetic/sub-05/ses-02/fun...,sub-05/ses-02/func/sub-05_ses-02_task-nback_ru...,sub-05_ses-02_task-nback_run-02_bold.nii,05,02,nback,02,bold,func,.nii,{},age=42; sex=M
14,/tmp/bids-examples/synthetic/sub-05/ses-02/fun...,sub-05/ses-02/func/sub-05_ses-02_task-nback_ru...,sub-05_ses-02_task-nback_run-01_bold.nii,05,02,nback,01,bold,func,.nii,{},age=42; sex=M
15,/tmp/bids-examples/synthetic/sub-05/ses-01/fun...,sub-05/ses-01/func/sub-05_ses-01_task-nback_ru...,sub-05_ses-01_task-nback_run-02_bold.nii,05,01,nback,02,bold,func,.nii,{},age=42; sex=M
16,/tmp/bids-examples/synthetic/sub-05/ses-01/fun...,sub-05/ses-01/func/sub-05_ses-01_task-rest_bol...,sub-05_ses-01_task-rest_bold.nii,05,01,rest,NaN,bold,func,.nii,{},age=42; sex=M
17,/tmp/bids-examples/synthetic/sub-05/ses-01/fun...,sub-05/ses-01/func/sub-05_ses-01_task-nback_ru...,sub-05_ses-01_task-nback_run-01_bold.nii,05,01,nback,01,bold,func,.nii,{},age=42; sex=M
18,/tmp/bids-examples/synthetic/sub-02/ses-02/fun...,sub-02/ses-02/func/sub-02_ses-02_task-rest_bol...,sub-02_ses-02_task-rest_bold.nii,02,02,rest,NaN,bold,func,.nii,{},age=38; sex=M
19,/tmp/bids-examples/synthetic/sub-02/ses-02/fun...,sub-02/ses-02/func/sub-02_ses-02_task-nback_ru...,sub-02_ses-02_task-nback_run-02_bold.nii,02,02,nback,02,bold,func,.nii,{},age=38; sex=M
20,/tmp/bids-examples/synthetic/sub-02/ses-02/fun...,sub-02/ses-02/func/sub-02_ses-02_task-nback_ru...,sub-02_ses-02_task-nback_run-01_bold.nii,02,02,nback,01,bold,func,.nii,{},age=38; sex=M
21,/tmp/bids-examples/synthetic/sub-02/ses-01/fun...,sub-02/ses-01/func/sub-02_ses-01_task-nback_ru...,sub-02_ses-01_task-nback_run-02_bold.nii,02,01,nback,02,bold,func,.nii,{},age=38; sex=M
22,/tmp/bids-examples/synthetic/sub-02/ses-01/fun...,sub-02/ses-01/func/sub-02_ses-01_task-nback_ru...,sub-02_ses-01_task-nback_run-01_bold.nii,02,01,nback,01,bold,func,.nii,{},age=38; sex=M
23,/tmp/bids-examples/synthetic/sub-02/ses-01/fun...,sub-02/ses-01/func/sub-02_ses-01_task-rest_bol...,sub-02_ses-01_task-rest_bold.nii,02,01,rest,NaN,bold,func,.nii,{},age=38; sex=M
24,/tmp/bids-examples/synthetic/sub-03/ses-02/fun...,sub-03/ses-02/func/sub-03_ses-02_task-nback_ru...,sub-03_ses-02_task-nback_run-01_bold.nii,03,02,nback,01,bold,func,.nii,{},age=22; sex=M
25,/tmp/bids-examples/synthetic/sub-03/ses-02/fun...,sub-03/ses-02/func/sub-03_ses-02_task-nback_ru...,sub-03_ses-02_task-nback_run-02_bold.nii,03,02,nback,02,bold,func,.nii,{},age=22; sex=M
26,/tmp/bids-examples/synthetic/sub-03/ses-02/fun...,sub-03/ses-02/func/sub-03_ses-02_task-rest_bol...,sub-03_ses-02_task-rest_bold.nii,03,02,rest,NaN,bold,func,.nii,{},age=22; sex=M
27,/tmp/bids-examples/synthetic/sub-03/ses-01/fun...,sub-03/ses-01/func/sub-03_ses-01_task-rest_bol...,sub-03_ses-01_task-rest_bold.nii,03,01,rest,NaN,bold,func,.nii,{},age=22; sex=M
28,/tmp/bids-examples/synthetic/sub-03/ses-01/fun...,sub-03/ses-01/func/sub-03_ses-01_task-nback_ru...,sub-03_ses-01_task-nback_run-02_bold.nii,03,01,nback,02,bold,func,.nii,{},age=22; sex=M
29,/tmp/bids-examples/synthetic/sub-03/ses-01/fun...,sub-03/ses-01/func/sub-03_ses-01_task-nback_ru...,sub-03_ses-01_task-nback_run-01_bold.nii,03,01,nback,01,bold,func,.nii,{},age=22; sex=M

### Using WHERE Clause

For more SQL-like queries, you can use the WHERE clause:

In [8]:
q.run_query("WHERE sub=01 AND datatype=func", format="dataframe")

,filepath,relative_path,filename,sub,ses,task,run,suffix,datatype,extension,metadata,participants
0,/tmp/bids-examples/synthetic/sub-01/ses-02/fun...,sub-01/ses-02/func/sub-01_ses-02_task-nback_ru...,sub-01_ses-02_task-nback_run-02_bold.nii,01,02,nback,02,bold,func,.nii,{},age=34; sex=F
1,/tmp/bids-examples/synthetic/sub-01/ses-02/fun...,sub-01/ses-02/func/sub-01_ses-02_task-nback_ru...,sub-01_ses-02_task-nback_run-01_bold.nii,01,02,nback,01,bold,func,.nii,{},age=34; sex=F
2,/tmp/bids-examples/synthetic/sub-01/ses-02/fun...,sub-01/ses-02/func/sub-01_ses-02_task-rest_bol...,sub-01_ses-02_task-rest_bold.nii,01,02,rest,NaN,bold,func,.nii,{},age=34; sex=F
3,/tmp/bids-examples/synthetic/sub-01/ses-01/fun...,sub-01/ses-01/func/sub-01_ses-01_task-nback_ru...,sub-01_ses-01_task-nback_run-02_bold.nii,01,01,nback,02,bold,func,.nii,{},age=34; sex=F
4,/tmp/bids-examples/synthetic/sub-01/ses-01/fun...,sub-01/ses-01/func/sub-01_ses-01_task-rest_bol...,sub-01_ses-01_task-rest_bold.nii,01,01,rest,NaN,bold,func,.nii,{},age=34; sex=F
5,/tmp/bids-examples/synthetic/sub-01/ses-01/fun...,sub-01/ses-01/func/sub-01_ses-01_task-nback_ru...,sub-01_ses-01_task-nback_run-01_bold.nii,01,01,nback,01,bold,func,.nii,{},age=34; sex=F

## Part 2: SELECT Clause and Field Selection

By default, BIQL returns all available fields. Use SELECT to choose specific fields:

In [9]:
q.run_query(
    "SELECT sub, task, run, filename WHERE datatype=func",
    format="dataframe"
)

   sub   task   run                                  filename
0   01  nback    02  sub-01_ses-02_task-nback_run-02_bold.nii
1   01  nback    01  sub-01_ses-02_task-nback_run-01_bold.nii
2   01   rest  None          sub-01_ses-02_task-rest_bold.nii
3   01  nback    02  sub-01_ses-01_task-nback_run-02_bold.nii
4   01   rest  None          sub-01_ses-01_task-rest_bold.nii
5   01  nback    01  sub-01_ses-01_task-nback_run-01_bold.nii
6   04  nback    02  sub-04_ses-02_task-nback_run-02_bold.nii
7   04  nback    01  sub-04_ses-02_task-nback_run-01_bold.nii
8   04   rest  None          sub-04_ses-02_task-rest_bold.nii
9   04  nback    02  sub-04_ses-01_task-nback_run-02_bold.nii
10  04   rest  None          sub-04_ses-01_task-rest_bold.nii
11  04  nback    01  sub-04_ses-01_task-nback_run-01_bold.nii
12  05   rest  None          sub-05_ses-02_task-rest_bold.nii
13  05  nback    02  sub-05_ses-02_task-nback_run-02_bold.nii
14  05  nback    01  sub-05_ses-02_task-nback_run-01_bold.nii
15  05  nback    02  sub-05_ses-01_task-nback_run-02_bold.nii
16  05   rest  None          sub-05_ses-01_task-rest_bold.nii
17  05  nback    01  sub-05_ses-01_task-nback_run-01_bold.nii
18  02   rest  None          sub-02_ses-02_task-rest_bold.nii
19  02  nback    02  sub-02_ses-02_task-nback_run-02_bold.nii
20  02  nback    01  sub-02_ses-02_task-nback_run-01_bold.nii
21  02  nback    02  sub-02_ses-01_task-nback_run-02_bold.nii
22  02  nback    01  sub-02_ses-01_task-nback_run-01_bold.nii
23  02   rest  None          sub-02_ses-01_task-rest_bold.nii
24  03  nback    01  sub-03_ses-02_task-nback_run-01_bold.nii
25  03  nback    02  sub-03_ses-02_task-nback_run-02_bold.nii
26  03   rest  None          sub-03_ses-02_task-rest_bold.nii
27  03   rest  None          sub-03_ses-01_task-rest_bold.nii
28  03  nback    02  sub-03_ses-01_task-nback_run-02_bold.nii
29  03  nback    01  sub-03_ses-01_task-nback_run-01_bold.nii

In [10]:
q.run_query(
    "SELECT sub, relative_path WHERE suffix=T1w",
    format="dataframe"
)

  sub                             relative_path
0  01  sub-01/ses-02/anat/sub-01_ses-02_T1w.nii
1  01  sub-01/ses-01/anat/sub-01_ses-01_T1w.nii
2  04  sub-04/ses-02/anat/sub-04_ses-02_T1w.nii
3  04  sub-04/ses-01/anat/sub-04_ses-01_T1w.nii
4  05  sub-05/ses-02/anat/sub-05_ses-02_T1w.nii
5  05  sub-05/ses-01/anat/sub-05_ses-01_T1w.nii
6  02  sub-02/ses-02/anat/sub-02_ses-02_T1w.nii
7  02  sub-02/ses-01/anat/sub-02_ses-01_T1w.nii
8  03  sub-03/ses-02/anat/sub-03_ses-02_T1w.nii
9  03  sub-03/ses-01/anat/sub-03_ses-01_T1w.nii

## Part 3: Pattern Matching

BIQL supports wildcards and regular expressions for flexible matching:

In [11]:
results = q.run_query("suffix=*bold*")
len(results)  # Count of files with 'bold' in suffix

30

In [12]:
q.run_query(
    "SELECT DISTINCT task WHERE task~=\".*back.*\"",
    format="dataframe"
)

    task
0  nback

## Part 4: Ranges and Lists

BIQL supports range queries and IN operators for matching multiple values:

In [13]:
q.run_query(
    "SELECT sub, ARRAY_AGG(DISTINCT task) as tasks, COUNT(*) as total_files "
    "WHERE sub IN ['01', '02', '03'] "
    "GROUP BY sub",
    format="json"
)

[{'sub': '01', 'tasks': ['nback', 'rest', 'stroop'], 'total_files': 12},
 {'sub': '02', 'tasks': ['nback', 'rest', 'stroop'], 'total_files': 12},
 {'sub': '03', 'tasks': ['nback', 'rest', 'stroop'], 'total_files': 12}]

In [14]:
q.run_query(
    "SELECT task, run, COUNT(*) as file_count, "
    "COUNT(DISTINCT sub) as subjects "
    "WHERE datatype=func "
    "GROUP BY task, run "
    "ORDER BY task, run",
    format="dataframe"
)

    task   run  file_count  subjects
0  nback    01          10         5
1  nback    02          10         5
2   rest  None          10         5

## Part 5: Grouping and Aggregation

BIQL supports SQL-like grouping and aggregation functions:

In [15]:
q.run_query("SELECT sub, COUNT(*) GROUP BY sub", format="dataframe")

  sub  count
0  01     12
1  04     12
2  05     12
3  02     12
4  03     12

In [16]:
q.run_query(
    "SELECT sub, datatype, COUNT(*) GROUP BY sub, datatype",
    format="json"
)

[{'sub': '01', 'datatype': 'anat', 'count': 2},
 {'sub': '01', 'datatype': 'func', 'count': 6},
 {'sub': '04', 'datatype': 'anat', 'count': 2},
 {'sub': '04', 'datatype': 'func', 'count': 6},
 {'sub': '05', 'datatype': 'anat', 'count': 2},
 {'sub': '05', 'datatype': 'func', 'count': 6},
 {'sub': '02', 'datatype': 'anat', 'count': 2},
 {'sub': '02', 'datatype': 'func', 'count': 6},
 {'sub': '03', 'datatype': 'anat', 'count': 2},
 {'sub': '03', 'datatype': 'func', 'count': 6},
 {'sub': '01', 'datatype': None, 'count': 3},
 {'sub': '01', 'datatype': 'beh', 'count': 1},
 {'sub': '04', 'datatype': None, 'count': 3},
 {'sub': '04', 'datatype': 'beh', 'count': 1},
 {'sub': '05', 'datatype': None, 'count': 3},
 {'sub': '05', 'datatype': 'beh', 'count': 1},
 {'sub': '02', 'datatype': None, 'count': 3},
 {'sub': '02', 'datatype': 'beh', 'count': 1},
 {'sub': '03', 'datatype': None, 'count': 3},
 {'sub': '03', 'datatype': 'beh', 'count': 1}]

## Part 6: Working with Metadata

BIQL can query JSON sidecar metadata using the `metadata.` namespace.
The synthetic dataset has task-level metadata files like `task-nback_bold.json`:

In [17]:
q.run_query(
    "SELECT task, COUNT(*) as file_count, "
    "ARRAY_AGG(DISTINCT sub) as subjects_with_task, "
    "ARRAY_AGG(DISTINCT datatype) as datatypes "
    "GROUP BY task",
    format="json"
)

[{'task': None,
  'file_count': 25,
  'subjects_with_task': ['01', '02', '03', '04', '05'],
  'datatypes': ['anat']},
 {'task': 'nback',
  'file_count': 20,
  'subjects_with_task': ['01', '02', '03', '04', '05'],
  'datatypes': ['func']},
 {'task': 'rest',
  'file_count': 10,
  'subjects_with_task': ['01', '02', '03', '04', '05'],
  'datatypes': ['func']},
 {'task': 'stroop',
  'file_count': 5,
  'subjects_with_task': ['01', '02', '03', '04', '05'],
  'datatypes': ['beh']}]

In [18]:
q.run_query(
    "SELECT datatype, COUNT(*) as total_files, "
    "COUNT(DISTINCT sub) as subjects, "
    "ARRAY_AGG(DISTINCT sub) as subject_list "
    "GROUP BY datatype "
    "ORDER BY total_files DESC",
    format="json"
)

[{'datatype': 'anat',
  'total_files': 10,
  'subjects': 5,
  'subject_list': ['01', '02', '03', '04', '05']},
 {'datatype': 'func',
  'total_files': 30,
  'subjects': 5,
  'subject_list': ['01', '02', '03', '04', '05']},
 {'datatype': None,
  'total_files': 15,
  'subjects': 5,
  'subject_list': ['01', '02', '03', '04', '05']},
 {'datatype': 'beh',
  'total_files': 5,
  'subjects': 5,
  'subject_list': ['01', '02', '03', '04', '05']}]

## Part 7: Participant Information

Access participant demographics using the `participants.` namespace:

In [19]:
q.run_query(
    "SELECT DISTINCT sub, participants.age, participants.sex",
    format="dataframe"
)

  sub  participants.age participants.sex
0  01                34                F
1  04                21                F
2  05                42                M
3  02                38                M
4  03                22                M

In [20]:
q.run_query(
    "SELECT sub, task, participants.age WHERE participants.age > 25",
    format="dataframe"
)

   sub    task  participants.age
0   01    None                34
1   01   nback                34
2   01   nback                34
3   01    rest                34
4   01    None                34
5   01   nback                34
6   01    rest                34
7   01   nback                34
8   05    None                42
9   05    rest                42
10  05   nback                42
11  05   nback                42
12  05    None                42
13  05   nback                42
14  05    rest                42
15  05   nback                42
16  02    None                38
17  02    rest                38
18  02   nback                38
19  02   nback                38
20  02    None                38
21  02   nback                38
22  02   nback                38
23  02    rest                38
24  01    None                34
25  01    None                34
26  01    None                34
27  01  stroop                34
28  05    None                42
29  05    None                42
30  05    None                42
31  05  stroop                42
32  02    None                38
33  02    None                38
34  02    None                38
35  02  stroop                38

## Part 8: Advanced Queries

Let's combine multiple features for more complex queries:

In [21]:
q.run_query("""
    SELECT sub, ses, task, COUNT(*) as n_runs
    WHERE datatype=func AND task != rest
    GROUP BY sub, ses, task
    HAVING COUNT(*) > 1
    ORDER BY sub, task
""", format="json")

[{'sub': '01', 'ses': '02', 'task': 'nback', 'n_runs': 2},
 {'sub': '01', 'ses': '01', 'task': 'nback', 'n_runs': 2},
 {'sub': '02', 'ses': '02', 'task': 'nback', 'n_runs': 2},
 {'sub': '02', 'ses': '01', 'task': 'nback', 'n_runs': 2},
 {'sub': '03', 'ses': '02', 'task': 'nback', 'n_runs': 2},
 {'sub': '03', 'ses': '01', 'task': 'nback', 'n_runs': 2},
 {'sub': '04', 'ses': '02', 'task': 'nback', 'n_runs': 2},
 {'sub': '04', 'ses': '01', 'task': 'nback', 'n_runs': 2},
 {'sub': '05', 'ses': '02', 'task': 'nback', 'n_runs': 2},
 {'sub': '05', 'ses': '01', 'task': 'nback', 'n_runs': 2}]

In [22]:
q.run_query("""
    SELECT sub, task,
           ARRAY_AGG(filename WHERE suffix='bold') as imaging_files,
           ARRAY_AGG(filename WHERE run='01') as run01_files,
           ARRAY_AGG(filename WHERE run='02') as run02_files
    WHERE datatype=func
    GROUP BY sub, task
""", format="table")  # Using table format since arrays don't display well in dataframes

'| imaging_files   | run01_files     | run02_files     | sub | task  |\n| --------------- | --------------- | --------------- | --- | ----- |\n| [...4 items...] | [...2 items...] | [...2 items...] | 01  | nback |\n| [...2 items...] | [...0 items...] | [...0 items...] | 01  | rest  |\n| [...4 items...] | [...2 items...] | [...2 items...] | 04  | nback |\n| [...2 items...] | [...0 items...] | [...0 items...] | 04  | rest  |\n| [...2 items...] | [...0 items...] | [...0 items...] | 05  | rest  |\n| [...4 items...] | [...2 items...] | [...2 items...] | 05  | nback |\n| [...2 items...] | [...0 items...] | [...0 items...] | 02  | rest  |\n| [...4 items...] | [...2 items...] | [...2 items...] | 02  | nback |\n| [...4 items...] | [...2 items...] | [...2 items...] | 03  | nback |\n| [...2 items...] | [...0 items...] | [...0 items...] | 03  | rest  |'

## Part 9: Output Formats

BIQL supports multiple output formats for different use cases:

In [23]:
sample_query = "SELECT sub, task, run WHERE datatype=func AND sub=01"

print(q.run_query(sample_query, format="table"))

| run | sub | task  |
| --- | --- | ----- |
| 02  | 01  | nback |
| 01  | 01  | nback |
|     | 01  | rest  |
| 02  | 01  | nback |
|     | 01  | rest  |
| 01  | 01  | nback |

In [24]:
print(q.run_query(sample_query, format="csv"))

run,sub,task
02,01,nback
01,01,nback
,01,rest
02,01,nback
,01,rest
01,01,nback

In [25]:
results_json = q.run_query(sample_query, format="json")
results_json[:2]  # Show first 2 entries

[{'sub': '01', 'task': 'nback', 'run': '02'},
 {'sub': '01', 'task': 'nback', 'run': '01'}]

In [26]:
print(q.run_query("WHERE sub=01 AND suffix=T1w", format="paths"))

/tmp/bids-examples/synthetic/sub-01/ses-02/anat/sub-01_ses-02_T1w.nii
/tmp/bids-examples/synthetic/sub-01/ses-01/anat/sub-01_ses-01_T1w.nii

In [27]:
q.run_query(sample_query, format="dataframe")

  sub   task   run
0  01  nback    02
1  01  nback    01
2  01   rest  None
3  01  nback    02
4  01   rest  None
5  01  nback    01

## Part 10: Real-World Examples

Let's look at some practical queries you might use in neuroimaging research:

In [28]:
q.run_query("""
    SELECT sub, 
           COUNT(*) as total_files,
           COUNT(DISTINCT datatype) as datatypes,
           ARRAY_AGG(DISTINCT datatype) as available_data
    GROUP BY sub
""", format="json")

[{'sub': '01',
  'total_files': 12,
  'datatypes': 3,
  'available_data': ['anat', 'beh', 'func']},
 {'sub': '04',
  'total_files': 12,
  'datatypes': 3,
  'available_data': ['anat', 'beh', 'func']},
 {'sub': '05',
  'total_files': 12,
  'datatypes': 3,
  'available_data': ['anat', 'beh', 'func']},
 {'sub': '02',
  'total_files': 12,
  'datatypes': 3,
  'available_data': ['anat', 'beh', 'func']},
 {'sub': '03',
  'total_files': 12,
  'datatypes': 3,
  'available_data': ['anat', 'beh', 'func']}]

In [29]:
q.run_query("""
    SELECT sub, ses,
           COUNT(*) as files_per_session,
           ARRAY_AGG(DISTINCT task) as tasks_in_session
    GROUP BY sub, ses
""", format="json")

[{'sub': '01',
  'ses': '02',
  'files_per_session': 5,
  'tasks_in_session': ['nback', 'rest']},
 {'sub': '01',
  'ses': '01',
  'files_per_session': 6,
  'tasks_in_session': ['nback', 'rest', 'stroop']},
 {'sub': '04',
  'ses': '02',
  'files_per_session': 5,
  'tasks_in_session': ['nback', 'rest']},
 {'sub': '04',
  'ses': '01',
  'files_per_session': 6,
  'tasks_in_session': ['nback', 'rest', 'stroop']},
 {'sub': '05',
  'ses': '02',
  'files_per_session': 5,
  'tasks_in_session': ['nback', 'rest']},
 {'sub': '05',
  'ses': '01',
  'files_per_session': 6,
  'tasks_in_session': ['nback', 'rest', 'stroop']},
 {'sub': '02',
  'ses': '02',
  'files_per_session': 5,
  'tasks_in_session': ['nback', 'rest']},
 {'sub': '02',
  'ses': '01',
  'files_per_session': 6,
  'tasks_in_session': ['nback', 'rest', 'stroop']},
 {'sub': '03',
  'ses': '02',
  'files_per_session': 5,
  'tasks_in_session': ['nback', 'rest']},
 {'sub': '03',
  'ses': '01',
  'files_per_session': 6,
  'tasks_in_session': ['nback', 'rest', 'stroop']},
 {'sub': '01', 'ses': None, 'files_per_session': 1, 'tasks_in_session': []},
 {'sub': '04', 'ses': None, 'files_per_session': 1, 'tasks_in_session': []},
 {'sub': '05', 'ses': None, 'files_per_session': 1, 'tasks_in_session': []},
 {'sub': '02', 'ses': None, 'files_per_session': 1, 'tasks_in_session': []},
 {'sub': '03', 'ses': None, 'files_per_session': 1, 'tasks_in_session': []}]

In [30]:
q.run_query("""
    SELECT sub,
           COUNT(DISTINCT task) as unique_tasks,
           ARRAY_AGG(DISTINCT task) as completed_tasks,
           COUNT(*) as total_functional_files
    WHERE datatype=func
    GROUP BY sub
    HAVING COUNT(DISTINCT task) > 1  # Subjects with multiple tasks
""", format="json")

[{'sub': '01',
  'unique_tasks': 2,
  'completed_tasks': ['nback', 'rest'],
  'total_functional_files': 6},
 {'sub': '04',
  'unique_tasks': 2,
  'completed_tasks': ['nback', 'rest'],
  'total_functional_files': 6},
 {'sub': '05',
  'unique_tasks': 2,
  'completed_tasks': ['nback', 'rest'],
  'total_functional_files': 6},
 {'sub': '02',
  'unique_tasks': 2,
  'completed_tasks': ['nback', 'rest'],
  'total_functional_files': 6},
 {'sub': '03',
  'unique_tasks': 2,
  'completed_tasks': ['nback', 'rest'],
  'total_functional_files': 6}]

## Summary

You've learned how to:

1. **Basic queries**: Filter by BIDS entities
2. **Logical operators**: Combine conditions with AND, OR, NOT
3. **SELECT clause**: Choose specific fields to return
4. **Pattern matching**: Use wildcards and regex
5. **Ranges and lists**: Query multiple values efficiently
6. **Aggregations**: Count and group data
7. **Metadata queries**: Access JSON sidecar information
8. **Participant data**: Query demographics
9. **Complex queries**: Combine multiple features
10. **Output formats**: Export results in different formats

## Next Steps

- Check out the [Language Reference](language.md) for complete syntax details
- Explore more [examples](../examples/) for specific use cases
- Use the CLI tool `biql` for command-line queries
- Integrate BIQL into your Python analysis pipelines

Happy querying!